// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-table textarea {
  resize: none;
  height: 200px;
  width: 400px;
  overflow: scroll;
  border: 1px solid black;
  border-radius: 5px;
}
